<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138215864614-ddmee5tr46gp4rg0okgqbjagtogh9dn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138215864614-ddmee5tr46gp4rg0okgqbjagtogh9dn3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>138215864614-c8b9usevo5nrdecmp72dmljujbllebo4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIgl3mdw9DVAiNz0ruiRbi6aCxYIry2wg</string>
	<key>GCM_SENDER_ID</key>
	<string>138215864614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carepay.moveToEarn</string>
	<key>PROJECT_ID</key>
	<string>gocare-394006</string>
	<key>STORAGE_BUCKET</key>
	<string>gocare-394006.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138215864614:ios:cbb80eca423800ce60a9e7</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8500838700347205~7708986168</string>
</dict>
</plist>