<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<string>dev.flutter.background.refresh</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Go care</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>move_to_earn</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to scan QR codes or take and upload photos</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app Authentication with FaceID</string>
	<key>NSHealthShareUsageDescription</key>
	<string>We will sync your data with the Apple Health app to give you better insights</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We will sync your data with the Apple Health app to give you better insights</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to location when using user location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to location when using user location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>After determining your location, this app will recommend a tailored challenge for you based on your surroundings.</string>
	<key>NSMotionUsageDescription</key>
	<string>Pedometer data is required to verify your movement and generate this app</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs photo library access to upload profile picture</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>processing</string>
        <string>remote-notification</string>
    </array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
    <key>UIRequiresFullScreen</key>
    <true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-8500838700347205~9370957160</string>
	<key>FLTEnableImpeller</key>
	<false />
</dict>
</plist>
